:root {
    --main: #292F36;
    --background: #C9DAEA;
    --accent: #439A86;
    --smoke: #F5F5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.dashboard {
 display: grid;
 grid-template: 1fr 5fr 1fr / 1fr 2fr 2fr;
}

/* ----- Left Navigation Menu ----- */

.navigation {
    background-color: var(--main);
    /* grid-column: 1 / 2; */
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    justify-content: center;
    color: var(--smoke);
}

.navigation > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > h2 {
    height: 38px;
    width: auto;
    font-size: 32px;
}

.logo > svg {
    height: 34px;
    width: auto;
    fill: var(--accent);
}

.navigation > .main-links {
    /* border: 2px solid red; */
    grid-row: 2 / 3;
}

.main-links > ul {
    display: grid;
    height: fit-content;
    gap: 20px;
}

.main-links > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-size: 28px;
    font-weight: bold;
}

.main-links > ul > li > svg {
    height: 30px;
    width: auto;
    fill: var(--accent);
}

.navigation > .utility-links {
    border: 2px solid aqua;
    grid-row: 3 / 4;
    text-align: center;
}

.utility-links > ul {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
}

.utility-links > ul > li {
    border: 1px solid pink;
    align-items: flex-end;
}

ul li {
    list-style: none;
    font-size: 22px;
}

/* ----- Header ----- */

.header {
    background-color: var(--smoke);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main-content {
    background-color: var(--background);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}