@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --main: #292F36; */
    --main: #1e293b;
    /* --background: #C9DAEA; */
    --background: #f4f4f5;
    /* --accent: #439A86; */
    --accent: #10b981;
    /* --smoke: #F5F5F5; */
    --smoke: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro';
}

.dashboard {
 display: grid;
 grid-template: minmax(150px, 1fr) minmax(500px, 5fr) minmax(300px, 1fr) / 1fr 2fr 2fr;
}

/* ----- Left Navigation Menu ----- */

.navigation {
    background-color: var(--main);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: minmax(150px, 10%) minmax(250px, 40%) minmax(150px, 50%);
    justify-content: center;
    padding: 15px;
    color: var(--smoke);
}

.navigation > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > h2 {
    height: 38px;
    width: auto;
    font-size: 32px;
}

.logo > svg {
    height: 34px;
    width: auto;
    fill: var(--accent);
}

.navigation > .main-links {
    /* border: 2px solid red; */
    grid-row: 2 / 3;
    margin-top: 50px;
}

.main-links > ul {
    /* border: 1px solid red; */
    display: grid;
    height: fit-content;
    gap: 20px;
}

.main-links > ul > li {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-size: 24px;
    padding: 5px;
}

.main-links > ul > li > svg {
    height: 30px;
    width: auto;
    fill: var(--accent);
}

.navigation > .utility-links {
    /* border: 1px solid aqua; */
    grid-row: 3 / 4;
}

.utility-links > ul {
    display: grid;
    height: fit-content;
    gap: 20px;
}

.utility-links > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-size: 24px;
    padding: 5px;
}

.utility-links > ul > li > svg {
    height: 30px;
    width: auto;
    fill: var(--accent);
}

ul > li {
    list-style: none;
}

ul > li:hover {
    cursor: pointer;
    background-color: var(--smoke);
    color: var(--main);
    border-radius: 8px;
}

/* ----- Header ----- */

.header {
    background-color: var(--smoke);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main-content {
    background-color: var(--background);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    box-shadow: 2px -2px 12px 4px rgba(0,0,0,0.4) inset;
}