@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --main: #292F36; */
    --main: #1e293b;
    /* --background: #C9DAEA; */
    --background: #f4f4f5;
    /* --accent: #439A86; */
    --accent: #10b981;
    /* --smoke: #F5F5F5; */
    --smoke: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro';
}

.dashboard {
 display: grid;
 grid-template: minmax(150px, 1fr) minmax(500px, 5fr) minmax(300px, 1fr) / 1fr 2fr 2fr;
}

/* ----- Left Navigation Menu ----- */

.navigation {
    background-color: var(--main);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: minmax(100px, 10%) minmax(250px, 40%) minmax(150px, 50%);
    justify-content: center;
    padding: 15px;
    color: var(--smoke);
}

.navigation > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > h2 {
    height: 38px;
    width: auto;
    font-size: 32px;
}

.logo > svg {
    height: 34px;
    width: auto;
    fill: var(--accent);
}

.navigation > .main-links {
    /* border: 2px solid red; */
    grid-row: 2 / 3;
    margin-top: 50px;
}

.main-links > ul {
    /* border: 1px solid red; */
    display: grid;
    height: fit-content;
    gap: 20px;
}

.main-links > ul > li {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-size: 24px;
    padding: 5px;
}

.main-links > ul > li > svg {
    height: 30px;
    width: auto;
    fill: var(--accent);
}

.navigation > .utility-links {
    /* border: 1px solid aqua; */
    grid-row: 3 / 4;
}

.utility-links > ul {
    display: grid;
    height: fit-content;
    gap: 20px;
}

.utility-links > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-size: 24px;
    padding: 5px;
}

.utility-links > ul > li > svg {
    height: 30px;
    width: auto;
    fill: var(--accent);
}

ul > li {
    list-style: none;
}

ul > li:hover {
    cursor: pointer;
    background-color: var(--smoke);
    color: var(--main);
    border-radius: 8px;
}

/* ----- Header ----- */

.header {
    background-color: var(--smoke);
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    gap: 20px;
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
}

.header > .header-top {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: max(50px) 7fr 3fr;
    align-items: center;
}

.header-top > svg {
    /* border: 1px solid blue; */
    grid-column: 1 / 2;
    height: 50px;
    width: auto;
    fill: var(--accent);
}

.header-top > .search-container {
    /* border: 1px solid red; */
    padding: 15px;
}

.header-top > .search-container > .search {
    grid-column: 2 / 3;
    border-radius: 8px;
    background-color: var(--background);
    font-size: 16px;
    min-width: 200px;
}

.header-top > .user {
    /* border: 1px solid green; */
    grid-column: 3 / -1;
    font-size: 22px;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 5px; */
    
    text-align: center;
    padding: 10px;
}

.user h2 {
    width: auto;
    font-weight: 400;
}

.user > svg {
    height: 42px;
    width: auto;
    fill: var(--accent);
}

.user > img {
    width: 42px;
    height: 42px;
}

/* Header Bottom */

.header > .header-bottom {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-bottom {
    /* border: 1px solid blue; */
    /* height: fit-content; */
    /* padding: 10px; */
    gap: 50px;
    text-align: center;
    /* align-items: center; */
}

.header-bottom > .alerts {
    border-radius: 8px;
    color: var(--smoke);
    background-color: var(--accent);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    display: flex;
    align-items: center;
}

.alerts:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.alerts p {
    /* border: 1px solid red; */
    height: fit-content;
    font-weight: bold;
}

/* ----- Main Content Area ----- */

.main-content {
    background-color: var(--background);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    box-shadow: 2px -2px 12px 4px rgba(0,0,0,0.4) inset;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.left-main {
    grid-column: 1 / 3;

    border: 1px solid red;
    resize: both;
    display: grid;
    gap: 15px;
    padding: 25px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}

.left-main > .card {
    border-left: 10px solid var(--accent);
    background: var(--smoke);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    width: 450px;
    height: 250px;
    border-radius: 8px;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 5fr 1fr 1fr;
}

.card > h3 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.card > p {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1 / 4;
}

.card > .card-svg {
    grid-row: 3;
    grid-column: 3;

    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;
    gap: 10px;
}

.card-svg > svg {
    width: 32px;
}

.card-svg-1 {
    grid-column-start: 2;
}

.card-svg-2 {
    grid-column-start: 3;
}

.card-svg-3 {
    grid-column-start: 4;
}

.right-main {
    border: 1px solid blue;
    display: grid;
    align-items: center;
    justify-content: center;
}

.right-main > .announcements {
    background-color: var(--smoke);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    height: 95%;
    border-radius: 8px;
}

.right-main > .trending {
    background-color: var(--smoke);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    height: 95%;
    border-radius: 8px;
}